$yellow: #f3d038;
$blue: #2680eb;
$rose-redish: #dd4372;
$dark: #253858;
html,
body {
  color: $dark !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

.logo {
  font-family: Futura PT, sans-serif !important;
}
.logo-description {
  font-size: 14px;
}
nav {
  transition: all 0.3s ease-in;
}
.cards {
  border-radius: 0.3rem !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  // .row {
  //   border-radius: 0.3rem !important;
  // }
}
.slick-dots {
  position: static;
  li {
    margin: auto;
    button {
      &::before {
        font-size: 16px !important;
        line-height: 0 !important;
      }
    }
  }
}
.block {
  margin-top: 64px;
  margin-bottom: 64px;
}
.hero {
  position: relative;
  background: url('../images/hero-svg.svg') no-repeat;
  background-size: cover;
  background-position-x: right 0;
  background-position-x: right;
  background-position-y: top 0;
  background-position-y: top;
}

.hero-img {
  position: relative !important;
  // height: 50vh;
}
[class*='title'],
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $dark;
}
.title-1 {
  font-size: 24px;
}
.title-2 {
  font-size: 18px;
}

.gears {
  // background-color: #f7f8fa;
  z-index: 1;

  position: relative;
  top: -0.5rem;
  img {
    margin-bottom: 2rem;
  }
  .title-2 {
    font-size: 18px;
  }
}
.underline-magic {
  background-image: linear-gradient(
    95deg,
    rgba($color: #f3d038, $alpha: 0.2),
    rgba($color: #dd4372, $alpha: 0.2)
  );
  transition: 0.2s ease-out;
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 100%;
}
.kit {
  li {
    position: relative;
    padding-left: 32px;
    margin-bottom: 1.2rem;
    font-weight: 700;
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url('../images/dot.svg');
      background-size: contain;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 0.8rem;
    }
  }
}
.remote-card {
  * {
    color: white !important;
  }
  background: url('../images/city-bg.jpg') no-repeat;
  background-size: cover;
}
.app-preview {
  background: url('../images/phones-bg.svg') no-repeat;
  background-size: contain;
  // background-position-y: bottom;
}
.btn {
  font-size: 14px !important;
  &-lg {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
.form-section {
  border-radius: 8px;
  background: url('../images/form-bg.jpg') no-repeat;
  background-size: cover;
}
.gradient-light {
  background: linear-gradient(
    95deg,
    rgba($color: #f3d038, $alpha: 0.2),
    rgba($color: #dd4372, $alpha: 0.2)
  );
}
#map {
  width: auto;
  height: 400px;
}
footer {
  background-color: $dark;
}

// .slick-arrow,
// .slick-prev::before,
// .slick-next::before {
//   color: $dark !important;
//   // font-size: 32px;
// }
@media screen and (min-width: 600px) {
  .block {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .hero {
    background-size: contain;
    background-position-x: right -20rem;
    background-position-y: top -10rem;
  }
  .gears {
    position: relative;
    top: -3.5rem;
    img {
      margin-bottom: auto;
    }
    .title-2 {
      font-size: 32px;
    }
  }
  .title-1 {
    font-size: 48px;
    line-height: 1.33;
  }
  .title-2 {
    font-size: 36px;
    line-height: 1.33;
  }
  .cards {
    box-shadow: none !important;
    .row {
      box-shadow: none !important;
    }
  }

  .kit {
    li {
      font-size: 18px;
      margin-bottom: 2rem;
    }
  }
  .app-preview {
    background-position-y: bottom;
  }
}
